<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Posts</title>
</head>
<body>
    <h1>Lista de Posts</h1>
    <ul>
        {% for post in posts %}
            <li>{{ post.title }} - {{ post.pub_date }}
                <a href="{% url 'post_detail' post.pk %}">Detalhes</a>
                <a href="{% url 'post_update' post.pk %}">Editar</a>
                <a href="{% url 'post_delete' post.pk %}">Excluir</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
