{% extends 'base.html' %}

{% block title %}
Detalhes do Post: {{ object.title }}
{% endblock %}

{% block content %}
<h2>{{ object.title }}</h2>
<p>{{ object.content }}</p>

{% if object.image %}
    <img style="width: 500px" src="{{ object.image.url }}" alt="{{ object.title }}">
{% endif %}

<a href="{% url 'post_update' pk=object.pk %}">Editar</a>
<form action="{% url 'post_delete' pk=object.pk %}" method="post" style="display: inline">
    {% csrf_token %}
    <button type="submit">Excluir</button>
</form>

<hr>

<!-- Seção de Comentários -->
<h3>Comentários</h3>
<ul>
    {% for comment in comments %}
        <li>
            <strong>{{ comment.user.username }}</strong> em {{ comment.created_at|date:"d/m/Y H:i" }}:
            <p>{{ comment.content }}</p>
        </li>
    {% empty %}
        <p>Sem comentários ainda.</p>
    {% endfor %}
</ul>

<!-- Formulário para Adicionar Comentário -->
<h3>Adicionar Comentário</h3>
<form method="post" action="{% url 'comment_create' post_id=object.pk %}">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Comentar</button>
</form>

{% endblock %}
